@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

.container {
  min-width: 600px;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 400px);
  margin: 0 auto;
}

header nav {
  display: flex;
  line-height: 64px;
}

header ul {
  list-style: none;
  display: flex;
}

header a {
  width: 100px;
  display: block;
  color: black;
  text-decoration: none;
  justify-content: space-around;
}

header img {
  display: flex;
  align-items: center;
  transform: translateX(90%);
}

.br-sp {
  display: none;
}

header a:hover {
  font-weight: bold;
}

header img {
  margin-top: 32px;
  vertical-align: bottom;
}

.top img{
  margin: 64px 0;
  width: 100%;
  height: auto;
}

.top-1 h1 {
  margin-top: 64px;
}

.top-1 p {
  margin-top: 40px;
}

address {
  margin: 32px 0;
}

section + section {
  margin-top: 120px;
}

section {
  text-align: center;
  width: calc(100% - 64px);
}

.about address,p {
  text-align: left;
  margin-left: 200px;
}

.pc {
  display: block;
}

.Works h1 {
  margin-bottom: 64px;
}

.Works ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 160px;
}

.Works li {
  width: calc((100% - 64px) / 3);
}

.Works img {
 width: 100%;
 height: auto;
}

.News table {
  width: 840px;
  border-collapse: collapse;
  margin: 0 200px;
}

section th {
  font-weight: normal;
}

.News td {
  text-align: left;
  padding-left: 64px;
}

.News tr {
  border-bottom: 1px solid black;
}

.contact h1 {
  display: block;
  font-size: 25px;
  margin-left: 15px;
}

.contact table {
  margin-left: 170px;
}

section label{
  display: flex;
}

.name {
  padding: 0 32px;
  width: 120px;
  text-decoration: none;
}

.mail {
  padding: 0 32px;
  text-decoration: none;
}

.message {
  padding: 0 32px;
}

button {
  width: 160px;
  height: 40px;
  border: 1px solid black;
  background: black;
  color: white;
  line-height: 40px;
  cursor: pointer;
  margin: 8px auto;
}

.sp-menu {
  display: none;
}

.overlay {
  display: none;
}

.FAQ {
  width: 840px;
  margin: 0 200px;
}

.FAQ h1 {
  text-align: left;
  padding-left: 5px;
  margin-bottom: 16px;
  font-size: 24px;
  border-bottom: 1px solid;
}

.FAQ dl {
  text-align: left;
  margin: 0;
}

.FAQ dt {
  padding: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.FAQ dt::before {
  content: 'Q. ';
}

.FAQ dt::after {
  content: '+';
  position: absolute;
  top: 8px;
  right: 16px;
  transition: transform .3s;
}

.FAQ dl > div.appear dt::after {
  transform: rotate(45deg);
}

.FAQ dd {
  padding: 8px;
  margin: 0;
  display: none;
}

.FAQ dd::before {
  content: 'A. ';
}

.FAQ dl > div.appear dd {
  display:block;
  animation: .3s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


@media (max-width:600px) {

  .container {
    overflow: hidden;
  }

  header h1{
    white-space: nowrap;
    margin: 0 auto;
    font-size: 27px;
    line-height: 64px;
    display: flex;
    justify-content: center;
    transform: translateX(30%);
  }

  header nav{
    font-size: 15px;
    margin: 12px auto 0;
    display: flex;
    transform: translateX(-60%);
  }

  header a {
    margin-left: -20px;
    margin-top: -40px;
    margin-bottom: -90px;
  }

  header img {
   display: flex;
   margin-left: 30px;
   transform: translateY(210%);
  }

  .br-sp {
    display: block;
    text-align: center;
  }

  .top img {
    width: 100%;
    height: 700px;
  }

  .top-1 h1 {
    margin-top: 32px;
    display: flex;
    transform: translateX(48%);
  }

  .about address,p{
    margin: 0 auto;
    padding: 0;
    display: flex;
    transform: translateX(8%);
  }

  .pc {
    display: none;
  }

  .about p {
    display: block;
    max-width: 100%;
    margin: 0;
  }

  .Works h1 {
    margin-bottom: 32px;
    display: flex;
    transform: translateX(48%);
  }

  .Works ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto;
  }

  .Works li {
    width: calc((100% - 32px) / 1);
  }


  .Works img {
    width: 600px;
    height: auto;
  }

  .News {
    margin: 0;
  }

  .News h1 {
    margin-top: 96px;
    margin-bottom: 32px;
    display: flex;
    transform: translateX(49%);
  }

  .News tr {
    width: 520px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    transform: translateX(-30%);
    
  }

  .news {
    border-top: 1px solid black;
  }

  .News td {
    display: flex;
    transform: translateX(-12%);
  }

  .contact {
    margin: 0;
  }

  .contact h1 {
    margin-top: 64px;
    margin-bottom: 32px;
    display: flex;
    transform: translateX(45%);
  }

  .contact td {
    text-align: left;
    padding-left: 2px;
  }

  .contact th {
    padding-left: 0;
  }

  .contact table {
    margin-left: 0;
  }

  .contact input,textarea {
    width: 500px;
  }


  .contact tr {
    display: flex;
    flex-direction: column;
    transform: translateX(8%);
  }

  button {
    display: flex;
    transform: translateX(20%);
    text-align: center;
    padding-left: 63px;
    margin-top: 32px;
  }

  .sp-menu {
    margin-left: auto;
    position: absolute;
    top: 0;
    right: -25%;
    display: block;
  }
  
  .sp-menu #open {
    font-size: 40px;
    margin-bottom: 24px;
    line-height: 64px;
    cursor: pointer;
  }

  .sp-menu #open.hide {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.95);
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
  }

  .overlay.show {
    opacity: 1;
    pointer-events: auto;
    display: block;
  }

  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
  }

  .overlay ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .overlay li {
    margin-top: 24px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transform .3s;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
  }

  .overlay.show li:nth-child(1) {
    transition-delay: .1s;
  }

  .overlay.show li:nth-child(2) {
    transition-delay: .2s;
  }

  .overlay.show li:nth-child(3) {
    transition-delay: .3s;
  }

  .overlay.show li:nth-child(4) {
    transition-delay: .4s;
  }

  .FAQ {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    padding-left: 40px;
  }

  .FAQ h1 {
    width: 300px;
    margin-left: 0;
    padding-right: 200px;
  }

  .FAQ dt::after {
    content: '+';
    position: absolute;
    top: 8px;
    right: 100px;
    transition: transform .3s;
  }


}








